## 김포 제주 노선 가격 정보 읽어오기
- 대상 사이트 : 대한항공 국내선 예매 사이트

### 대한항공 사이트 웹 크롤링
    - 대한항공 국내선 항공권예매 페이지를 이용한 크롤링
    - 세션을 생성하여 세션을 이용해 RESTFull json API 페이지 호출 하여 정보 획득
    - 필요 데이터 추출 하여 Pandas 의 DataFrame 형태로 생성
    - 생성된 데이터 엑셀 파일로 저장

In [95]:
from IPython.display import display
import requests
import pandas as pd
import numpy as np
from pandas import DataFrame
from bs4 import BeautifulSoup
import time
from datetime import datetime
from datetime import timedelta
from common.crawling_util import session_crawling
from common.parsing_util import stat_fare

def crawling_KE_data(dpt,arr,dpt_date):
    ##출발지, 도착지, 출발일을 기준으로 국내선(국제선) 편도 가격 읽어오기
    print('Crawling koreanair homepage schedule site')
    session_url = "https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange"
    session_head = {
        'Referer':'https://kr.koreanair.com/korea/ko.html',
        'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36',
    }
    
    ## Rest Full 방식 https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-25-2017-0000
    url = "https://www.koreanair.com/api/fly/revenue/from/{dpt}/to/{arr}/on/{mm}-{dd}-{yyyy}-0000"
    url_param = {
        'dpt':dpt,    'arr':arr,
        'yyyy':dpt_date[:4],
        'mm':dpt_date[4:6],
        'dd':dpt_date[6:]
    }
    url = url.format(**url_param)
    head = {
        'page-id':'/booking/dow.html', ## 필수 항목
        'uidd':'83^51%8638461@384712', ## 필수 항목
        'Referer':'https://www.koreanair.com/korea/ko/booking/dow.html',
        'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36',
    }
    param ={## 파라미터는 고정, _ 부분만 조회 시점 타임스탬프 적용
        'flexDays':'2',
        'scheduleDriven':'false',
        'purchaseThirdPerson':'',
        'domestic':'true',
        'isUpgradeableCabin':'false',
        'adults':'1',    'children':'0',    'infants':'0',
        'cabinClass':'ECONOMY',
        'adultDiscounts':'',    'adultInboundDiscounts':'',
        'childDiscounts':'',    'childInboundDiscounts':'',
        'infantDiscounts':'',   'infantInboundDiscounts':'',
        '_':str(int(datetime.now().timestamp())),
    }

    return session_crawling(session_url,url,param,session_head=session_head,head=head,method='get',json=True)

## 해당 아웃바운드 스케줄의 가격에 대한 키 정보 읽어오기
def get_fare_key(fare_key,fare_class,raw_data):
    mapper = raw_data['tripFareMapper']
    fare_key_list = []
    for book_cls in fare_class:
        fare_key_list.extend(mapper[fare_key+'-'+book_cls[:-1]])
    return set(fare_key_list)
## 해당 아웃바운드 스케줄의 가격 정보 읽어 오기
def get_fares(fare_key,fare_class,raw_data):
    fare_keys = get_fare_key(fare_key,fare_class,raw_data)
    fare_list = []
    for key in fare_keys:
        fare = raw_data['fares'][key]['fares'][0]
        fare_list.append([fare['amount'],fare['fuelSurcharge'],fare['tax']])
    return sorted(fare_list)
## 국내선용 파싱 정보
data_heads = ['date','flt','dpt','arr','fare1','fare2','fare3','tax1','tax2','seat']
## raw 데이터로 부터 DataFrame 생성
def raw_to_df(raw_data):
    ## 읽어온 데이터의 json['Result']['code'] 값이 0000 이 아닌 경우 오류
    sch_list = []
    for schedule in raw_data['outbound']:
        flt = schedule['flights'][0]
        sch = [flt['departure'][:4]+flt['departure'][5:7]+flt['departure'][8:10],
               flt['flightNumber'],flt['departure'][11:16],flt['arrival'][11:16]]
        fares = get_fares(schedule['key'],schedule['remainingSeatsByBookingClass'],raw_data)
        sch.extend([str(int(fare[0])) for fare in fares[::-1]])
        sch.extend(['0' for _ in range(3-len(fares))])
        if len(fares) > 0:
            sch.extend([str(int(fare)) for fare in fares[0][1:]])
        else:
            sch.extend(['0','0'])
        ## ECONOMYY 클래스에 대한 좌석 수 추가 - 노멀 클래스
        sch.append(schedule['remainingSeatsByBookingClass'].get('ECONOMYY',0))
        sch_list.append(sch)
    return pd.DataFrame(sch_list,columns=data_heads)

## 하루 기준 가격정보, 텍스정보, 최소값, 최대값, 평균 DataFrame 생성
def read_KE_1day_fare(dpt,arr,dpt_date):
    ## 데이터 읽어오기
    raw_data = crawling_KE_data(dpt,arr,dpt_date)
    df=raw_to_df(raw_data)
    df = df[df['date'] == dpt_date].reset_index()[data_heads]
    if df is None or len(df) == 0: ## 읽는 도중 에러가 나거나 익셉션 발생으로 문제가 있을 경우 처리
        print('********** No Data **********')
        return None
    ## 최소값 최대값 평균 계산
    stat = stat_fare(df,columns=['fare1','fare2','fare3'])
    ## 요약정보 추가
    df.ix[len(df)] = [dpt_date,'min','max','mean',str(int(stat[0])),str(int(stat[1])),str(int(stat[2])),'','','']
    return df

## 정해진 기간의 데이터 읽어오기, 기본 30일
def read_KE_date_range_fare(dpt,arr,start=0,end=31):
    # 기본 30일간 데이터 읽어서 파일로 저장
    date_range = [ (datetime.today()+timedelta(1)*i).strftime('%Y%m%d') for i in range(start,end)]
    fare_list = []
    for d in date_range:
        try:
            fare_df = read_KE_1day_fare(dpt,arr,d)
            if fare_df is not None:
                fare_list.append(fare_df)
        except Exception as e:
            print('****** Error occured : ',e)
    result = pd.concat(fare_list,ignore_index=True)
    print('++++++++++Total : ', len(result))
    ## 파일 저장
    result.to_excel('{}/{}_{}_{}_{}_{}_{}.xls'.format('excel','KE',dpt,arr,start,end,datetime.today().strftime('%Y%m%d%H%M')))
    return result

In [96]:
## 하루치 데이터 읽어오기
dpt, arr, dpt_date = 'GMP','CJU','20170615'
read_KE_1day_fare(dpt,arr,dpt_date)

Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-15-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494900374 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling

        date     flt    dpt    arr   fare1   fare2  fare3  tax1  tax2 seat
0   20170615  KE1201  07:05  08:10  142000   82000  74000  2200  4000    9
1   20170615  KE1203  07:20  08:30  142000   82000  74000  2200  4000    9
2   20170615  KE1205  08:00  09:10  142000   82000      0  2200  4000    9
3   20170615  KE1209  09:00  10:10  142000   82000      0  2200  4000    9
4   20170615  KE1211  09:15  10:25  142000   82000      0  2200  4000    9
5   20170615  KE1215  10:00  11:10       0       0      0     0     0    0
6   20170615  KE1217  10:40  11:50  142000   82000      0  2200  4000    9
7   20170615  KE1219  11:10  12:20  142000   82000      0  2200  4000    9
8   20170615  KE1221  11:45  12:55  142000   82000      0  2200  4000    9
9   20170615  KE1223  12:20  13:30  142000   82000  66000  2200  4000    9
10  20170615  KE1225  13:10  14:20  142000   82000  74000  2200  4000    9
11  20170615  KE1227  13:20  14:30  142000   82000  57000  2200  4000    9
12  20170615  KE1229  13:30  14:40  142000   82000  66000  2200  4000    9
13  20170615  KE1233  13:50  15:00  142000   82000  57000  2200  4000    9
14  20170615  KE1213  14:20  15:30  142000   82000  57000  2200  4000    9
15  20170615  KE1245  16:00  17:10  142000   82000  49000  2200  4000    9
16  20170615  KE1247  16:40  17:50  142000   82000  49000  2200  4000    9
17  20170615  KE1249  17:10  18:20  142000   82000  49000  2200  4000    9
18  20170615  KE1251  17:50  19:00  142000   82000  49000  2200  4000    9
19  20170615  KE1253  18:20  19:30  142000   82000  49000  2200  4000    9
20  20170615  KE1257  18:45  19:55  142000   82000  49000  2200  4000    9
21  20170615  KE1261  19:20  20:30  142000   82000      0  2200  4000    9
22  20170615  KE1263  20:25  21:35  142000       0      0  2200  4000    0
23  20170615  KE1265  21:00  22:10  142000   82000  74000  2200  4000    9
24  20170615     min    max   mean   49000  142000  78333

In [92]:
## 정해진 기간의 데이터 읽어오기
dpt, arr = 'GMP','CJU'
start,end =0, 31 ## 읽어올 데이터 기간
read_KE_date_range_fare(dpt,arr,start,end)

Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-16-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898269 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-17-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898272 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-18-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898274 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-19-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898278 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-20-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898281 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-21-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898284 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-22-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898286 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-23-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898289 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-24-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898291 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-25-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898294 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-26-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898296 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-27-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898300 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-28-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898303 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-29-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898305 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-30-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898308 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/05-31-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898310 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-01-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898312 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-02-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898314 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-03-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898317 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-04-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898319 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-05-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898322 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-06-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898324 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-07-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898327 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-08-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898329 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-09-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898332 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-10-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898334 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-11-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898337 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-12-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898339 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-13-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898341 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-14-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898344 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-15-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898346 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
++++++++++Total :  166

         date     flt    dpt    arr   fare1   fare2   fare3  tax1  tax2 seat
0    20170526  KE1201  07:05  08:10  167000  107000       0  2200  4000    1
1    20170526  KE1203  07:20  08:30       0       0       0     0     0    0
2    20170526  KE1205  08:00  09:10  107000       0       0  2200  4000    1
3    20170526  KE1207  08:30  09:40       0       0       0     0     0    0
4    20170526  KE1209  09:00  10:10       0       0       0     0     0    0
5    20170526  KE1211  09:15  10:25       0       0       0     0     0    0
6    20170526  KE1215  10:00  11:10       0       0       0     0     0    0
7    20170526  KE1217  10:40  11:50  167000  107000       0  2200  4000    1
8    20170526  KE1219  11:10  12:20  107000       0       0  2200  4000    1
9    20170526  KE1269  12:00  13:10       0       0       0     0     0    0
10   20170526  KE1223  12:20  13:30  167000  107000       0  2200  4000    9
11   20170526  KE1225  13:10  14:20  167000  107000   86000  2200  4000    9
12   20170526  KE1227  13:25  14:35  167000  107000   96000  2200  4000    9
13   20170526  KE1229  13:30  14:40  167000  107000   86000  2200  4000    9
14   20170526  KE1231  13:45  14:55  167000  107000   86000  2200  4000    9
15   20170526  KE1233  13:55  15:05  167000  107000   86000  2200  4000    9
16   20170526  KE1241  15:05  16:15  167000  107000       0  2200  4000    9
17   20170526  KE1243  15:55  17:05  167000  107000   96000  2200  4000    9
18   20170526  KE1245  16:00  17:10  167000  107000   96000  2200  4000    9
19   20170526  KE1247  16:40  17:50  167000  107000   96000  2200  4000    9
20   20170526  KE1251  17:50  19:00  167000  107000   96000  2200  4000    9
21   20170526  KE1253  18:20  19:30  167000  107000   86000  2200  4000    9
22   20170526  KE1257  18:45  19:55  167000  107000   96000  2200  4000    9
23   20170526  KE1259  19:10  20:20  167000  107000   86000  2200  4000    9
24   20170526  KE1261  19:20  20:30  167000  107000       0  2200  4000    9
25   20170526  KE1263  20:25  21:35  167000  107000       0  2200  4000    4
26   20170526  KE1265  21:00  22:10  167000       0       0  2200  4000    0
27   20170526  KE1267  21:10  22:20  167000       0       0  2200  4000    0
28   20170526     min    max   mean   86000  167000  114000
29   20170601  KE1201  07:05  08:10  142000   82000   57000  2200  4000    9
..        ...     ...    ...    ...     ...     ...     ...   ...   ...  ...
136  20170609  KE1261  19:20  20:30  167000  107000       0  2200  4000    9
137  20170609  KE1263  20:25  21:35  167000       0       0  2200  4000    0
138  20170609  KE1265  21:00  22:10  167000       0       0  2200  4000    0
139  20170609  KE1267  21:10  22:20  167000  107000       0  2200  4000    1
140  20170609     min    max   mean   86000  167000  114000
141  20170615  KE1201  07:05  08:10  142000   82000   74000  2200  4000    9
142  20170615  KE1203  07:20  08:30  142000   82000   74000  2200  4000    9
143  20170615  KE1205  08:00  09:10  142000   82000       0  2200  4000    9
144  20170615  KE1209  09:00  10:10  142000   82000       0  2200  4000    9
145  20170615  KE1211  09:15  10:25  142000   82000       0  2200  4000    9
146  20170615  KE1215  10:00  11:10       0       0       0     0     0    0
147  20170615  KE1217  10:40  11:50  142000   82000       0  2200  4000    9
148  20170615  KE1219  11:10  12:20  142000   82000       0  2200  4000    9
149  20170615  KE1221  11:45  12:55  142000   82000       0  2200  4000    9
150  20170615  KE1223  12:20  13:30  142000   82000   66000  2200  4000    9
151  20170615  KE1225  13:10  14:20  142000   82000   74000  2200  4000    9
152  20170615  KE1227  13:20  14:30  142000   82000   57000  2200  4000    9
153  20170615  KE1229  13:30  14:40  142000   82000   66000  2200  4000    9
154  20170615  KE1233  13:50  15:00  142000   82000   57000  2200  4000    9
155  20170615  KE1213  14:20  15:30  142000   82000   57000  2200  4000    9
156  20170615  KE1245  16:00  17:10  142000   82000   49000  2200  4000    9
157  20170615  KE1247  16:40  17:50  142000   82000   49000  2200  4000    9
158  20170615  KE1249  17:10  18:20  142000   82000   49000  2200  4000    9
159  20170615  KE1251  17:50  19:00  142000   82000   49000  2200  4000    9
160  20170615  KE1253  18:20  19:30  142000   82000   49000  2200  4000    9
161  20170615  KE1257  18:45  19:55  142000   82000   49000  2200  4000    9
162  20170615  KE1261  19:20  20:30  142000   82000       0  2200  4000    9
163  20170615  KE1263  20:25  21:35  142000       0       0  2200  4000    0
164  20170615  KE1265  21:00  22:10  142000   82000   74000  2200  4000    9
165  20170615     min    max   mean   49000  142000   78333

[166 rows x 10 columns]

In [93]:
## 정해진 기간의 데이터 읽어오기
dpt, arr = 'GMP','CJU'
start,end =31, 45 ## 읽어올 데이터 기간
read_KE_date_range_fare(dpt,arr,start,end)

Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-16-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898564 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-17-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898567 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-18-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898569 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-19-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898572 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-20-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898575 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-21-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898577 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-22-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898580 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-23-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898582 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-24-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898585 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-25-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898587 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-26-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898589 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-27-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898591 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-28-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898594 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-29-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898596 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
++++++++++Total :  108

         date     flt    dpt    arr   fare1   fare2   fare3  tax1  tax2 seat
0    20170616  KE1201  07:05  08:10  107000       0       0  2200  4000    9
1    20170616  KE1203  07:20  08:30  167000  107000       0  2200  4000    9
2    20170616  KE1205  08:00  09:10  167000  107000       0  2200  4000    9
3    20170616  KE1207  08:30  09:40  107000       0       0  2200  4000    9
4    20170616  KE1209  09:00  10:10  167000       0       0  2200  4000    0
5    20170616  KE1211  09:15  10:25  167000  107000       0  2200  4000    9
6    20170616  KE1215  10:00  11:10       0       0       0     0     0    0
7    20170616  KE1217  10:40  11:50  167000       0       0  2200  4000    0
8    20170616  KE1219  11:10  12:20  107000       0       0  2200  4000    9
9    20170616  KE1269  12:00  13:10  167000  107000       0  2200  4000    9
10   20170616  KE1223  12:20  13:30  167000  107000       0  2200  4000    9
11   20170616  KE1225  13:10  14:20  167000  107000   96000  2200  4000    9
12   20170616  KE1227  13:25  14:35  167000  107000   96000  2200  4000    9
13   20170616  KE1229  13:30  14:40  167000  107000   86000  2200  4000    9
14   20170616  KE1231  13:45  14:55  167000  107000   86000  2200  4000    9
15   20170616  KE1233  13:55  15:05  167000  107000   86000  2200  4000    9
16   20170616  KE1241  15:05  16:15  167000  107000   75000  2200  4000    9
17   20170616  KE1243  15:55  17:05  167000  107000   86000  2200  4000    9
18   20170616  KE1245  16:00  17:10  167000  107000   96000  2200  4000    9
19   20170616  KE1247  16:40  17:50  167000  107000   86000  2200  4000    9
20   20170616  KE1251  17:50  19:00  167000  107000   86000  2200  4000    9
21   20170616  KE1253  18:20  19:30  167000  107000   86000  2200  4000    9
22   20170616  KE1257  18:45  19:55  167000  107000   96000  2200  4000    9
23   20170616  KE1259  19:10  20:20  167000  107000       0  2200  4000    9
24   20170616  KE1261  19:20  20:30  167000  107000       0  2200  4000    9
25   20170616  KE1263  20:25  21:35  167000  107000       0  2200  4000    9
26   20170616  KE1265  21:00  22:10  167000  107000       0  2200  4000    9
27   20170616  KE1267  21:10  22:20  167000  107000       0  2200  4000    9
28   20170616     min    max   mean   75000  167000  106200
29   20170622  KE1201  07:05  08:10  142000   82000   66000  2200  4000    9
..        ...     ...    ...    ...     ...     ...     ...   ...   ...  ...
78   20170623  KE1261  19:20  20:30  167000  107000       0  2200  4000    9
79   20170623  KE1263  20:25  21:35  167000  107000       0  2200  4000    9
80   20170623  KE1265  21:00  22:10  167000  107000       0  2200  4000    9
81   20170623  KE1267  21:10  22:20  167000  107000       0  2200  4000    9
82   20170623     min    max   mean   75000  167000  106200
83   20170629  KE1201  07:05  08:10  142000   82000   57000  2200  4000    9
84   20170629  KE1203  07:20  08:30  142000   82000   57000  2200  4000    9
85   20170629  KE1205  08:00  09:10  142000   82000       0  2200  4000    9
86   20170629  KE1209  09:00  10:10  142000   82000       0  2200  4000    9
87   20170629  KE1211  09:15  10:25  142000   82000       0  2200  4000    9
88   20170629  KE1215  10:00  11:10  142000   82000       0  2200  4000    9
89   20170629  KE1217  10:40  11:50  142000   82000       0  2200  4000    9
90   20170629  KE1219  11:10  12:20  142000   82000       0  2200  4000    9
91   20170629  KE1221  11:45  12:55  142000   82000       0  2200  4000    9
92   20170629  KE1223  12:20  13:30  142000   82000   66000  2200  4000    9
93   20170629  KE1225  13:10  14:20  142000   82000   57000  2200  4000    9
94   20170629  KE1227  13:20  14:30  142000   82000   57000  2200  4000    9
95   20170629  KE1229  13:30  14:40  142000   82000   57000  2200  4000    9
96   20170629  KE1233  13:50  15:00  142000   82000   57000  2200  4000    9
97   20170629  KE1213  14:20  15:30  142000   82000   57000  2200  4000    9
98   20170629  KE1245  16:00  17:10  142000   82000   49000  2200  4000    9
99   20170629  KE1247  16:40  17:50  142000   82000   49000  2200  4000    9
100  20170629  KE1249  17:10  18:20  142000   82000   49000  2200  4000    9
101  20170629  KE1251  17:50  19:00  142000   82000   49000  2200  4000    9
102  20170629  KE1253  18:20  19:30  142000   82000   49000  2200  4000    9
103  20170629  KE1257  18:45  19:55  142000   82000   49000  2200  4000    9
104  20170629  KE1261  19:20  20:30  142000   82000   49000  2200  4000    9
105  20170629  KE1263  20:25  21:35  142000   82000   57000  2200  4000    9
106  20170629  KE1265  21:00  22:10  142000   82000   49000  2200  4000    9
107  20170629     min    max   mean   49000  142000   79200

[108 rows x 10 columns]

In [94]:
dpt, arr = 'GMP','CJU'
start,end =45, 90 ## 읽어올 데이터 기간
read_KE_date_range_fare(dpt,arr,start,end)

Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/06-30-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898647 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-01-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898649 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-02-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898652 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-03-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898655 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-04-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898657 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-05-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898660 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-06-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898662 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-07-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898664 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-08-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898667 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-09-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898669 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-10-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898671 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-11-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898674 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-12-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898676 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-13-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898679 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-14-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898681 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-15-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898683 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-16-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898686 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-17-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898688 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-18-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898691 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-19-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898693 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-20-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898695 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-21-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898697 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-22-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898700 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-23-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898702 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-24-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898705 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-25-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898707 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-26-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898709 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
****** Error occured :  10 columns passed, passed data had 11 columns
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-27-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898711 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-28-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898715 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-29-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898717 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-30-2017-0000
>> Parameters
adults:1 , childInboundDiscounts: , flexDays:2 , _:1494898720 , cabinClass:ECONOMY , purchaseThirdPerson: , domestic:true , isUpgradeableCabin:false , infantDiscounts: , adultInboundDiscounts: , childDiscounts: , infantInboundDiscounts: , infants:0 , scheduleDriven:false , children:0 , adultDiscounts: ,
End Session crawling
Crawling koreanair homepage schedule site
Start Session crawling
make session :  https://www.koreanair.com/korea/ko/booking/booking-gate.html#bookingChange
crawling :  https://www.koreanair.com/api/fly/revenue/from/GMP/to/CJU/on/07-31-2017-0000
>> Parameters

         date     flt    dpt    arr   fare1   fare2   fare3  tax1  tax2 seat
0    20170630  KE1201  07:05  08:10  107000       0       0  2200  4000    9
1    20170630  KE1203  07:20  08:30  107000       0       0  2200  4000    9
2    20170630  KE1205  08:00  09:10  167000  107000       0  2200  4000    9
3    20170630  KE1207  08:30  09:40  167000  107000       0  2200  4000    9
4    20170630  KE1209  09:00  10:10  167000  107000       0  2200  4000    9
5    20170630  KE1211  09:15  10:25  167000  107000       0  2200  4000    9
6    20170630  KE1215  10:00  11:10  167000  107000       0  2200  4000    9
7    20170630  KE1217  10:40  11:50  167000  107000       0  2200  4000    9
8    20170630  KE1219  11:10  12:20  167000  107000       0  2200  4000    9
9    20170630  KE1269  12:00  13:10  167000  107000       0  2200  4000    9
10   20170630  KE1223  12:20  13:30  167000  107000       0  2200  4000    9
11   20170630  KE1225  13:10  14:20  167000  107000   86000  2200  4000    9
12   20170630  KE1227  13:25  14:35  167000  107000   86000  2200  4000    9
13   20170630  KE1229  13:30  14:40  167000  107000   86000  2200  4000    9
14   20170630  KE1231  13:45  14:55  167000  107000   86000  2200  4000    9
15   20170630  KE1233  13:55  15:05  167000  107000   86000  2200  4000    9
16   20170630  KE1241  15:05  16:15  167000  107000   86000  2200  4000    9
17   20170630  KE1243  15:55  17:05  167000  107000   75000  2200  4000    9
18   20170630  KE1245  16:00  17:10  167000  107000   75000  2200  4000    9
19   20170630  KE1247  16:40  17:50  167000  107000   75000  2200  4000    9
20   20170630  KE1251  17:50  19:00  167000  107000   86000  2200  4000    9
21   20170630  KE1253  18:20  19:30  167000  107000   86000  2200  4000    9
22   20170630  KE1257  18:45  19:55  167000  107000   86000  2200  4000    9
23   20170630  KE1259  19:10  20:20  167000  107000       0  2200  4000    9
24   20170630  KE1261  19:20  20:30  167000  107000       0  2200  4000    9
25   20170630  KE1263  20:25  21:35  167000  107000       0  2200  4000    9
26   20170630  KE1265  21:00  22:10  167000  107000       0  2200  4000    9
27   20170630  KE1267  21:10  22:20  167000  107000       0  2200  4000    9
28   20170630     min    max   mean   75000  167000  108750
29   20170706  KE1201  07:05  08:10  142000   82000   57000  2200  4000    9
..        ...     ...    ...    ...     ...     ...     ...   ...   ...  ...
545  20170812  KE1265  21:00  22:10  167000  107000       0  2200  4000    9
546  20170812     min    max   mean  107000  167000  137000
547  20170813  KE1201  07:05  08:10  167000  107000       0  2200  4000    9
548  20170813  KE1203  07:20  08:30  167000  107000       0  2200  4000    9
549  20170813  KE1205  08:00  09:10  167000  107000       0  2200  4000    9
550  20170813  KE1207  08:30  09:40  167000  107000       0  2200  4000    9
551  20170813  KE1209  09:00  10:10  167000  107000       0  2200  4000    9
552  20170813  KE1211  09:15  10:25  167000  107000       0  2200  4000    9
553  20170813  KE1215  10:00  11:10  167000  107000       0  2200  4000    8
554  20170813  KE1217  10:40  11:50  167000  107000       0  2200  4000    9
555  20170813  KE1219  11:10  12:20  167000  107000       0  2200  4000    9
556  20170813  KE1223  12:20  13:30  167000  107000       0  2200  4000    9
557  20170813  KE1227  12:40  13:50  167000  107000       0  2200  4000    9
558  20170813  KE1235  12:50  14:00  167000  107000       0  2200  4000    9
559  20170813  KE1225  13:10  14:20  167000  107000       0  2200  4000    9
560  20170813  KE1229  13:30  14:40  167000  107000       0  2200  4000    9
561  20170813  KE1231  13:45  14:55  167000  107000       0  2200  4000    9
562  20170813  KE1233  13:50  15:00  167000  107000       0  2200  4000    9
563  20170813  KE1241  14:35  15:45  167000  107000       0  2200  4000    9
564  20170813  KE1237  14:45  15:55  167000  107000       0  2200  4000    9
565  20170813  KE1245  16:00  17:10  167000  107000       0  2200  4000    9
566  20170813  KE1247  16:40  17:50  167000  107000       0  2200  4000    9
567  20170813  KE1251  17:50  19:00  167000  107000       0  2200  4000    9
568  20170813  KE1253  18:20  19:30  167000  107000       0  2200  4000    9
569  20170813  KE1257  18:45  19:55  167000  107000       0  2200  4000    9
570  20170813  KE1261  19:20  20:30  167000  107000       0  2200  4000    9
571  20170813  KE1259  19:50  21:00  167000  107000       0  2200  4000    9
572  20170813  KE1263  20:25  21:35  167000  107000       0  2200  4000    9
573  20170813  KE1265  21:00  22:10  167000  107000       0  2200  4000    9
574  20170813     min    max   mean  107000  167000  137000

[575 rows x 10 columns]